USE [OnlineHelpDesk]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 10/2/2025 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](500) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[TypeID] [int] NOT NULL,
	[FacilityID] [int] NOT NULL,
	[Fullname] [varchar](100) NOT NULL,
	[Gender] [varchar](20) NOT NULL,
	[Birthday] [datetime] NOT NULL,
	[Phone] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CloseRequest]    Script Date: 10/2/2025 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CloseRequest](
	[CloseRequestID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[Reason] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CloseRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facilities]    Script Date: 10/2/2025 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facilities](
	[FacilityID] [int] IDENTITY(1,1) NOT NULL,
	[FacilityName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FacilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 10/2/2025 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[FeedbackContent] [varchar](1000) NOT NULL,
	[FeedbackTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuestLetter]    Script Date: 10/2/2025 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestLetter](
	[LetterID] [int] IDENTITY(1,1) NOT NULL,
	[LetterContent] [varchar](1000) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Mail] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LetterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reply]    Script Date: 10/2/2025 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reply](
	[ReplyID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[ReplyContent] [varchar](1000) NOT NULL,
	[ReplyDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 10/2/2025 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportMonth] [int] IDENTITY(1,1) NOT NULL,
	[Month] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 10/2/2025 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[RequestorID] [int] NOT NULL,
	[FacilityID] [int] NOT NULL,
	[RequestDate] [datetime] NOT NULL,
	[AssigneeID] [int] NULL,
	[Status] [varchar](50) NOT NULL,
	[RequestContent] [varchar](1000) NOT NULL,
	[SeverityLevels] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SummaryReport]    Script Date: 10/2/2025 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SummaryReport](
	[SummaryReportID] [int] IDENTITY(1,1) NOT NULL,
	[ReportMonth] [int] NOT NULL,
	[RequestID] [int] NOT NULL,
	[ReplyID] [int] NOT NULL,
	[FeedbackID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SummaryReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 10/2/2025 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [Username], [Password], [Email], [TypeID], [FacilityID], [Fullname], [Gender], [Birthday], [Phone]) VALUES (1, N'admin', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'gia@gmail.com', 1, 1, N'Gia Thoai', N'Female', CAST(N'2004-01-01T00:00:00.000' AS DateTime), N'0978657233')
INSERT [dbo].[Accounts] ([AccountID], [Username], [Password], [Email], [TypeID], [FacilityID], [Fullname], [Gender], [Birthday], [Phone]) VALUES (2, N'quoctrieu', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'trieuquocchau123@gmail.com', 2, 1, N'Chau Quoc Trieu', N'Male', CAST(N'2004-06-06T00:00:00.000' AS DateTime), N'0765932198')
INSERT [dbo].[Accounts] ([AccountID], [Username], [Password], [Email], [TypeID], [FacilityID], [Fullname], [Gender], [Birthday], [Phone]) VALUES (3, N'giathoai', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'giathoai2810@gmail.com', 2, 1, N'To Nguyen Gia Thoai', N'Female', CAST(N'2004-10-05T00:00:00.000' AS DateTime), N'0945317990')
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[CloseRequest] ON 

INSERT [dbo].[CloseRequest] ([CloseRequestID], [RequestID], [Reason]) VALUES (1, 1, N'It was handled.')
INSERT [dbo].[CloseRequest] ([CloseRequestID], [RequestID], [Reason]) VALUES (2, 2, N'Had.')
INSERT [dbo].[CloseRequest] ([CloseRequestID], [RequestID], [Reason]) VALUES (3, 9, N'It was handled.')
SET IDENTITY_INSERT [dbo].[CloseRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[Facilities] ON 

INSERT [dbo].[Facilities] ([FacilityID], [FacilityName]) VALUES (1, N'None')
INSERT [dbo].[Facilities] ([FacilityID], [FacilityName]) VALUES (2, N'Class-rooms')
INSERT [dbo].[Facilities] ([FacilityID], [FacilityName]) VALUES (3, N'Labs')
SET IDENTITY_INSERT [dbo].[Facilities] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [RequestID], [FeedbackContent], [FeedbackTime]) VALUES (1, 3, N'It is quite good, processed quickly!', CAST(N'2023-02-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [RequestID], [FeedbackContent], [FeedbackTime]) VALUES (2, 4, N'There were many types of snacks, thanks.', CAST(N'2023-04-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [RequestID], [FeedbackContent], [FeedbackTime]) VALUES (3, 6, N'It is quite good, processed quickly!', CAST(N'2023-09-25T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[GuestLetter] ON 

INSERT [dbo].[GuestLetter] ([LetterID], [LetterContent], [Name], [Mail]) VALUES (1, N'Beautiful campus', N'gia bao', N'giabao@gmail.com')
INSERT [dbo].[GuestLetter] ([LetterID], [LetterContent], [Name], [Mail]) VALUES (2, N'Beautiful campus', N'gia thoai', N'giathoai2810@gmail.com')
INSERT [dbo].[GuestLetter] ([LetterID], [LetterContent], [Name], [Mail]) VALUES (3, N'Need to plant more trees', N'gia', N'thanhgia@gmail.com')
SET IDENTITY_INSERT [dbo].[GuestLetter] OFF
GO
SET IDENTITY_INSERT [dbo].[Reply] ON 

INSERT [dbo].[Reply] ([ReplyID], [RequestID], [ReplyContent], [ReplyDate]) VALUES (1, 3, N'It was handled promptly.', CAST(N'2023-02-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Reply] ([ReplyID], [RequestID], [ReplyContent], [ReplyDate]) VALUES (2, 4, N'Okay.', CAST(N'2023-04-06T00:00:00.000' AS DateTime))
INSERT [dbo].[Reply] ([ReplyID], [RequestID], [ReplyContent], [ReplyDate]) VALUES (3, 5, N'It was handled promptly.', CAST(N'2023-12-28T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reply] OFF
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([ReportMonth], [Month]) VALUES (1, N'January')
INSERT [dbo].[Report] ([ReportMonth], [Month]) VALUES (2, N'February')
INSERT [dbo].[Report] ([ReportMonth], [Month]) VALUES (3, N'March')
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([RequestID], [RequestorID], [FacilityID], [RequestDate], [AssigneeID], [Status], [RequestContent], [SeverityLevels]) VALUES (1, 4, 3, CAST(N'2023-07-14T00:00:00.000' AS DateTime), 10, N'Closed', N'Lab 01 broken air conditioner.', N'Low')
INSERT [dbo].[Requests] ([RequestID], [RequestorID], [FacilityID], [RequestDate], [AssigneeID], [Status], [RequestContent], [SeverityLevels]) VALUES (2, 2, 4, CAST(N'2023-03-03T00:00:00.000' AS DateTime), 11, N'Closed', N'Heater needs repair.', N'Low')
INSERT [dbo].[Requests] ([RequestID], [RequestorID], [FacilityID], [RequestDate], [AssigneeID], [Status], [RequestContent], [SeverityLevels]) VALUES (3, 3, 5, CAST(N'2023-02-22T00:00:00.000' AS DateTime), 12, N'Completed', N'Need more tables and chairs.', N'Medium')
SET IDENTITY_INSERT [dbo].[Requests] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTypes] ON 

INSERT [dbo].[UserTypes] ([TypeID], [TypeName]) VALUES (1, N'Administrator')
INSERT [dbo].[UserTypes] ([TypeID], [TypeName]) VALUES (2, N'Student')
INSERT [dbo].[UserTypes] ([TypeID], [TypeName]) VALUES (3, N'Facility-head')
SET IDENTITY_INSERT [dbo].[UserTypes] OFF
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([FacilityID])
REFERENCES [dbo].[Facilities] ([FacilityID])
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([TypeID])
REFERENCES [dbo].[UserTypes] ([TypeID])
GO
ALTER TABLE [dbo].[CloseRequest]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[Requests] ([RequestID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[Requests] ([RequestID])
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[Requests] ([RequestID])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([AssigneeID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([FacilityID])
REFERENCES [dbo].[Facilities] ([FacilityID])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([RequestorID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[SummaryReport]  WITH CHECK ADD FOREIGN KEY([FeedbackID])
REFERENCES [dbo].[Feedback] ([FeedbackID])
GO
ALTER TABLE [dbo].[SummaryReport]  WITH CHECK ADD FOREIGN KEY([ReplyID])
REFERENCES [dbo].[Reply] ([ReplyID])
GO
ALTER TABLE [dbo].[SummaryReport]  WITH CHECK ADD FOREIGN KEY([ReportMonth])
REFERENCES [dbo].[Report] ([ReportMonth])
GO
ALTER TABLE [dbo].[SummaryReport]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[Requests] ([RequestID])
GO
