@model OnlineHelpDesk2.Models.ForgotPassword
@{ Layout = null; }﻿



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Forgot Password</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../Content/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="../Content/style1.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="../Content/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<style>
    #page-wraper {
        background: #4AA0DD no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    body {
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }

  

  
   
</style>


<div id="page-wraper">
    <div class="container4">
        <div class="header-div4">
            <div class="header-left4">
                <img src="../images/logo1.jpg" alt="logo" width="240" height="170" style="margin-top: -60px">
            </div>

            <div class="header-right4">
                Guest |
                <a href="@Url.Action("Login", "WelcomePage")" class="loginlink1">Back</a>
            </div>
            <hr />

            <div class="introduce4" style="margin-top:-100px">
                <div class="introduce4">
                    <div class="guest-form4">

                        <form action="@Url.Action("ForgotPassword", "WelcomePage")" method="post">
                            <h4 style="color:black">Forgot Password</h4>
                            <hr />
                            <div class="form-group">
                                <label for="Email">Please enter your email that you registered for your account</label>
                                <label for="Email">Email:</label>
                                <input type="email" name="Email" id="Email" required />
                                <h6 style="color: forestgreen">@ViewBag.Success1</h6>
                                <h6 style="color: red">@ViewBag.Alert</h6>
                            </div>
                            <button type="submit" class="btn btn-success" style="cursor: pointer; width:200px">Send</button>
                        </form>

                    </div>
                </div>

            </div>


        </div>
    </div>

</div>
</html>



