<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Online Help Desk</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../Content/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="../Content/style1.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="../Content/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>


<div class="body5">
    <div class="container5">
        <div class="header-div5">
            <div class="header-left5">
                <img src="../images/logo1.jpg" alt="logo" width="240" height="170" style="margin-top: -60px">
            </div>

            <div class="header-right5">
                Guest |
                <a href="@Url.Action("Login", "WelcomePage")" class="loginlink1">Login</a>
            </div>

            <!-- Menu bar -->
            <div class="menu-bar5">
                <a href="/WelcomePage">Home</a>
                <a href="@Url.Action("GuestLetter", "WelcomePage")">Create new request (As guest)</a>
            </div>
            <div class="introduce5">
                <div class="introduce-left5">
                    <h1>WELCOME TO ONLINE HELP DESK</h1>
                    OHD is a user-friendly Online Help Desk designed for educational institutions. It enables students, faculty, and staff to submit, track, and manage requests regarding various campus facilities such as classrooms, labs, dormitories, dining areas, and more. Users can monitor request statuses, provide feedback, and receive automated notifications. OHD also generates periodic summary reports, facilitating streamlined facility management and enhancing the overall user experience in educational settings.

                </div>
                <div class="introduce-right5">
                    <div style="margin-top: -280px; margin-left: 530px"><img src="../images/hinhdep.jpg" width="220" height="320"></div>
                    </div>
                </div>
            </div>
    </div>

</div>


</html>
